language: python
python:
  - "2.7"
  - "3.6"
  - "3.7-dev"

matrix:
    allow_failures:
        - python: "3.7-dev"

# command to install dependencies
install: pip install pipenv; pipenv lock; pipenv install --dev

# command to run tests
script: pipenv run pytest tests/
